@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.loginInput{
    font-family: 'Lato', sans-serif;
    color: black;
    width: 200%;
    padding: 5%;
    margin: 5%;
    margin-top: 10%;
    border-radius: 8px;
}

.signupInput{
    font-family: 'Lato', sans-serif;
    color: black;
    padding: 2%;
    margin-left: 2%;
    margin-right: 2%;
    width: 15vw;
    margin-top: 8%;
    border-radius: 8px;
}

.multiDropdown {
    font-family: 'Lato', sans-serif;
    color: black;
    padding: 2%;
    margin-left: 2%;
    margin-right: 2%;
    width: 20vw;
    height: 5vh;
    margin-top: 8%;
    border-radius: 8px;
}