.pill{
    padding-top: '5px';
    text-align: 'center';
    font-size: '13px';
    overflow: 'hidden';
    height: '35px';
    width: '100px';
    border: 'solid 2px black';
    border-radius: '20px';
}